@use 'base';

html, body {
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 941px;
    margin: auto;
}

// Header / Footer

header, footer {
    @include default-content;
}


// Main

main {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

// Button container

.buttons {
    @include button-container;
}
